@charset "utf-8";

/** Styles to support the mention of Unicode characters and character sequences *****/
   /* These match the styles in the tr-design stylesheet exactly.
    * They are present in this stylesheet so that we can experiment with
    * fixes and changes conveniently.
    */

	.codepoint bdi {
		line-height: 1em;
		font-size: 1.25em;
		padding-inline: 0.25em;
	}
	
	.codepoint img {
	    height: 2em;
        margin-inline: 0.25em;
        vertical-align: bottom;
	}

	.uname {
        font-family: Arial, monospace;
		font-size: 0.75em;                    
		letter-spacing: 0.03em;
		color: var(--uname-text);
	}
/** end of unicode styles */


/** 
 * The remainder of the styles in this file are used locally in specdev.
 * Over time most of these should be migrated to I18N's shared stylesheet
 * (currently respec_2022.css). * 
 */

:root {
	--blue: blue;
	--checklistGroup-li-bg: antiquewhite;
	--checklistGroup-li-input: chocolate;
	--checklistGroup-li: brown;
	--example-note-bg: white;
	--exampleNamesTable-td-border: #ddd;
	--exampleNamesTable-tr-2n: #f2f2f2;
	--exampleNamesTable-tr-hover: #ddd;
	--h4-color: #005a9c;
	--links-bg: #EFEFF9;
	--links-title-text: #005a9c;
	--localdef-bg: white;
	--localdef-border: brown;
	--review-comments-bg: #EFEFF9;
	--summary-text: saddlebrown;
	--uname-text: brown;
	--xref-bg: #fbf4e0;
	}

@media (prefers-color-scheme: dark) {
	:root {
		--blue: rgb(51 125 255);
		--checklistGroup-li-bg: rgb(69 43 9);
		--checklistGroup-li-input: rgb(228 132 63);
		--checklistGroup-li: rgb(215 99 99);
		--example-note-bg: #181a1b;
		--exampleNamesTable-td-border: rgb(58 62 65);
		--exampleNamesTable-tr-2n: rgb(31 34 35);
		--exampleNamesTable-tr-hover: rgb(58 62 65);
		--h4-color: rgb(110 194 255);
		--links-bg: rgb(30 33 34);
		--links-title-text: rgb(110 194 255);
		--localdef-bg: rgb(24 26 27);
		--localdef-border: rgb(154 39 39);
		--review-comments-bg: rgb(30 33 34);
		--summary-text: rgb(236 164 113);
		--uname-text: rgb(215 99 99);
		--xref-bg: rgb(53 42 11);
		}
	}


.advisement { /*background-color:#ffffcc; border: 1px solid #ccc;*/ 
	border-radius: 4px; 
	position: relative;  
	}
.advisement a {
	font-style: italic;
	}
.advisement a.local { 
	display:none;
	}

body {
	counter-reset: advisement;                  		 /* Set the section counter to 0 */
	/*counter-reset: bp;                  		  Set the section counter to 0 */
	}

.new-term { 
	font-weight: bold 
	}
code { 
	font-family: monospace; 
	}
section h2 {
	margin-top: 5em;
	margin-bottom: 0em;
	}
.head h2, #abstract h2, #sotd h2 {
	margin-top: 0;
	}

.term { 
	font-weight: bold;
	margin-top: 1em;
	}
a.termref:link {
	color:#C60;
	text-decoration:none;
	border-bottom: 1px dotted #FC0; 
	}
	
a.termref:hover {
	color:#C60;
	text-decoration:none;
	border-bottom: 1px dotted #FC0; 
	}
	
a.termref:visited {
	color:#C60;
	text-decoration:none;
	border-bottom: 1px dotted #FC0; 
	}
	
a.termref:active {
	color:#C60;
	text-decoration:none;
	border-bottom: 1px dotted #FC0; 
	}


.note {
	margin-left: 2em;
	margin-right: 3em;
		margin-top: 1em;
	border: 2px solid #CFF6D9;
	padding: .5em;
	padding-top: 0px;
	padding-bottom: 1em;
	color: #444;
	background-color: #E2FFF0;
	font-size: 0.8em;
	}
	  
@media print {
 .bp { background: #ffcc99 }

body { font-size: 80%; margin: 2em; }
.copyright { font-size: 80%; }
}




h4 { 	color: var(--h4-color); margin-top: 2em;  }
.indent { margin-left: 3em; }

.links h4, .xref h4 {
    margin-top: 0;
}

.link { display: inline; }
.desc { display: inline; margin-left: 1em;  }
.desc:before { content: '— '; }

.links { 
	/*background-color: #a09de5; border: 1px solid #ccc; */  
	font-size: 90%; 
	padding: 1em;
	background-color: var(--links-bg);
	border-radius: 5px;
	/*margin-bottom: 20px; 
	float: left; width: 60%;*/  
	}
.xref { 
	/* background-color: #feb; border: 1px solid #fc0; border-radius: 10px;*/  
	font-size: 80%; 
	padding: 1em; 
	background-color: var(--xref-bg);
	border-radius: 5px;
	/*margin-bottom: 40px; 
	float: right;  width: 30%;*/ 
	padding: .25em 1em;
	}
.xref p {
	line-height: 1.2;
	margin-top: 0;
	margin-bottom: .5em;
}

.subtopic, .topic { clear: both; }

.bigtext {
    font-size: 36pt;
    color: var(--blue);
    text-align: left;
    }

aside h2 {
    margin-top: 0em;
    }
    
table.cpExample {
    table-layout: fixed;
    width: 80%;
    }
    
table.truncExample th,
table.truncExample td {	
    vertical-align: top;
    }
    
table.truncExample kbd,
table.truncExample code {
    color: var(--blue);
    font-size: larger;
    }

.summary .secno {
	display: none;
	}
	
.example_div {
    margin-left: 4em;
    margin-right: 4em;
    font-size: 90%;
	}

aside h3 {
	margin-block-start: 0;
	margin-inline-start: 1em;
	}
aside h4 {
	margin-inline-start: 1em;
	}

table.whitespace {
	/* width: 300px; */
	width: 100%;
    border-spacing: 0;
	margin: 1em 0;
	}
table.whitespace th {
	writing-mode: sideways-lr;
	vertical-align: bottom;
	}
table.whitespace td {
	text-align: center;
	vertical-align: middle;
	}
table.whitespace th,
table.whitespace td {
	border: thin solid rgba(0,0,0,.12);
	padding: 6px;
	}
table.whitespace caption {
		padding: 10px;
		caption-side: bottom;
	}


.advisement + .links { margin-top: -1em; }
.advisement + .links a { text-decoration: none; border-bottom: none; }
.advisement { }
.req { position: relative; }
.req .links { padding-bottom: 0; }
/*.req::before {
    content: "§";
    display: block;
    border: none;
    color: inherit;
    font-size: 83%;
    height: 2em;
    left: -1.6em;
    opacity: .5;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 0;
    transition: opacity .2s;
    width: 2em;
	}*/
.req .self-link {
	margin-left: -1em;
	float: left;
	text-decoration: none;
	border: 0;
	font-size: 80%;
	color: #999;
	}
.req summary {
	margin: 0;
    margin-top: 0px;
	margin-top: -1em;
	font-size: 80%;
	font-weight: normal;
	line-height: 1;
	cursor: pointer;
	}
/*.xref {
    border-radius: 8px;
    border: 4px solid white;
    padding: 10px;
    font-size: 90%;
    background-color: #FEB;
    float: right;
    width: 40%;
    margin-bottom: 1em;
	margin-inline-end: -15%;
	}*/
.seealso {
	color: #996600;
	font-size: 95%;
	font-weight: bold;
	}


.links_title { margin-top: 0; font-weight: bold; color: var(--links-title-text); }
.links_subtitle { font-style: italic; margin-block-start: 1rem; margin-bottom: 0; }




.checklistGroup li {
    list-style-type: none;
    padding-inline: 1rem;
    padding-block: .3em;
    min-height: 2rem;
    color: var(--checklistGroup-li);
    background-color: var(--checklistGroup-li-bg);
    border-radius: 5px;
    font-size: 95%;
    }
.checklistMore {
    font-size: 90%;
    font-style: italic;
    text-decoration: none;
    margin-inline-start: 1rem;
    }
.checklistGroup li input {
    accent-color: var(--checklistGroup-li-input);
    }
.checklist summary {
    font-weight: normal;
    margin-block: 2rem;
    }
.checklist details > summary {
    color: saddlebrown;
    margin-inline-start: 2rem;
    }
.summaryC summary {
    color: var(--summary-text);
    font-weight: normal;
    cursor: pointer;
    }


.dumpBox {
    width: 100%;
    height: 400px;
    }

.reviewComments {
	font-size: 90%;
	padding: 1em;
	background-color: var(--review-comments-bg);
	border-radius: 5px;
	margin-block: 0;
	font-style: italic;
	}
	
.exampleNamesTable {
  border-collapse: collapse;
  width: 100%;
}

.exampleNamesTable td, .exampleNamesTable th {
  border: 1px solid var(--exampleNamesTable-td-border);
  padding: 8px;
}

.exampleNamesTable tr:nth-child(even){background-color: var(--exampleNamesTable-tr-2n);}

.exampleNamesTable tr:hover {background-color: var(--exampleNamesTable-tr-hover);}

.exampleNamesTable th {
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

td.exampleChar {
  font-size: 300%;
  text-align: center;
  vertical-align: middle;
}

.spilloverExample {
  background-color: #fdfdfd;
  text-indent: 10px;
  font-size: 140%;
}

.localdef {
    background-color:var(--localdef-bg);
    border: 1px solid var(--localdef-border); 
    margin:0.5em; 
    padding:0.5em;
}

#string_meta_progress p.example_note {
    background-color: var(--example-note-bg);
    border: 1px solid green;
    padding:10px;
}
